:root{
    --main-color : #fdf7f0;
    --second-main-color : #b5d4b1;
    --third-main-color : #435966;
  }

*{
    margin: 0;
}

h1{
  font-size: 20px;
  text-align: center;
  background-color: var(--third-main-color);
  color: var(--main-color);
  padding: .2rem;
}





